.br-card-container__content {
  background-color: white;
  margin: 0 31px 32px 0px;
  padding: 37px 29px 0px 41px;
}

.br-card-container p {
  margin: 0;
}

.br-card-container__tags {
  margin-top: 13px;
}

.br-card-container__title p {
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

.br-card-container__link >div{
  display: block;
  margin-top: 23px;
  cursor: pointer;
  padding-bottom: 23px;
  font-size: 18px;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}

.br-card-container {
  width: 50%;
  max-width: 50%;
}

.br-card-container__tags {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

@media only screen and (max-width: 500px) {
  .br-card-container {
    width: 100%;
    max-width: 100%;
  }

  .br-card-container__tags {
    flex-direction: column;
  }
}

.br-card-container__description p{
  font-size: 18px;
}

.br-card-container__tags-number{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.br-card-container__tags-number p{
  flex-grow: 1;
  width: 33%;
  margin: 1px;

}