.br-nav {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 18px 40px;
}

.br-nav__logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.br-nav__logo-nav__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: Bold;
}

.br-nav__logo-nav {
  ul {
    display: none;
  }
}

.br-nav__menu-items {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.br-nav__menu-items li span {
  padding-right: 24px;
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  color: black;
}

.br-nav__mobile-menu {
  display: block;
}

@media (max-width: 500px) {
  .br-nav__logo-nav {
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
      }
    }
  }

  .br-nav__logo-nav {
    ul {
      display: flex;
      width: 100%;
      height: 350px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
  }

  .br-nav__logo-nav {
    ul.active {
      background: rgb(214, 209, 209);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 19;
      align-content: center;
      padding-left: 0px;
    }
  }

  .br-nav__menu-icon {
    width: 35px;
    height: 35px;
  }

  .br-nav__menu-items {
    display: none;
  }
}
