.br-skill-details-container {
  padding-left: 44px;
  display: flex;
  flex-direction: column;
}

.br-skill-details-container__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 44px;
  margin-bottom: 54px;
}

.br-skill-details-container__row {
  display: flex;
  flex-direction: row;
}

.br-skill-details-container__row__related-job {
  background: #ffffff;
  margin-right: 42px;
  padding-top: 30px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 100%;
}

.br-skill-details-container__row__related-job > p:first-child {
  margin-bottom: 21px;
}

.br-skill-details-container__row__related-job__description {
  margin-bottom: 43px;
  padding-right: 68px;
}

.br-skill-details-container__row__related-job > p {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 43px;
}

.br-skill-details-container .br-card-container {
  max-width: unset;
  width: unset;
}

.br-skill-details-container .br-card-container__content {
  padding: 20px 20px 24px 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.br-skill-details-container .br-card-container__title > p {
  margin: 0;
  padding-bottom: 24px;
  text-decoration: underline;
  cursor: pointer;
}

.br-skill-details-container .br-card-container__description > p {
  font-size: 18px;
  padding-bottom: 24px;
}

.br-card-container__tags-number p span {
  font-weight: bold;
}

.br-skill-details-csontainer {
  background: #d9d9d9;
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  margin-right: 20px;
  height: fit-content;
}

.br-skill-details-csontainer > p {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.br-skill-details-csontainer ul {
  margin-top: 25px;
  padding: 0 25px;
  margin-bottom: 0;
}

.br-skill-details-csontainer ul li {
  margin-bottom: 17px;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}

.br-skill-details-csontainer ul li:last-child {
  margin-bottom: 46px;
}

@media only screen and (max-width: 500px) {
  .br-skill-details-container__row__related-job {
    width: 100%;
    max-width: 100%;
  }
  .br-skill-details-container__row {
    padding-right: 36px;
  }
  .br-card-container__tags-number,
  .br-skill-details-container__row {
    flex-direction: column;
  }
}
