.br-header-container__search {
  margin-top: 5px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
}

.br-header-container__search .icon {
  position: absolute;
  width: 28px;
  height: 28px;
  color: #808080;
  z-index: 12;
  right: 25.07px;
  top: 19.58px;
  cursor: pointer;
}

.br-header-container__input-with-icon svg{  
  cursor: pointer;
}

.br-header-container__input-with-icon {
  width: 776px;
  height: 75px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.br-header-container__search__input {
  padding: 20px 0 16px 26px;
  width: 776px;
  max-width: 100%;
  font-size: 24px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.no-br-input-suggest {
  color: red;
  padding: 0.5rem;
}

.br-input-suggest {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
}

.br-input-suggest li {
  padding: 0.5rem;
}

.br-input-suggest-active,
.br-input-suggest li:hover {
  background-color: #c4c4c4;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.br-input-suggest li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
