.br-tag-container__content {
  background-color: #c4c4c4;
  margin: 0px 7px 10px 0;
  border-radius: 5px;
}

.br-tag-container__content p {
  padding: 6px 12px;
  margin: 0;
  font-size: 18px;
}

.br-tag-container {
  width: 33.3%;
  max-width: 33.3%;
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .br-tag-container {
    width: fit-content;
    max-width: fit-content;
  }
}

@media only screen and (max-width: 500px) {
  .br-tag-container {
    width: 100%;
    max-width: 100%;
  }
}
