* {
  box-sizing: border-box;
}

.br-home-container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.br-home-container__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 32px;
  margin-bottom: 57px;
  margin-left: 13px;
}

.br-home-container .infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
}

.br-display-container{
  display: flex;
  flex-direction: row;
}

.br-display-container .br-job-details-csontainer{
  margin-top: 150px;
  width: 26%;
}

@media only screen and (max-width: 500px) {
  .br-home-container .infinite-scroll-component {
    flex-direction: row;
  }

 .br-display-container {
    flex-direction: column;
  }

  .br-display-container .br-job-details-csontainer{
    margin-top: 10px;
  }
}

